@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="box">
    <h1 class="display-4">Welcome</h1>
    <br/>

    <p><a asp-controller="Product" asp-action="Index">Check out our new menu!</a>.</p>
    <br />
    <p>New Here? <a href="./home/Register">Register now!</a>.</p>
       <br />
          <br />
    </div>
</div>